@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

nav {
  height: 100px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
nav .navbar {
  height: 100%;
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
nav .navbar .logo a {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
nav .navbar .nav-links {
  height: 100%;
  line-height: 70px;
}
nav .navbar .nav-links .links {
  display: flex;
}
nav .navbar .nav-links .links li {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .nav-links .links li:hover .htmlcss-arrow {
  transform: rotate(180deg);
}
nav .navbar .nav-links .links li:hover .js-arrow {
  transform: rotate(180deg);
}
nav .navbar .nav-links .links li:hover .shop-arrow {
  transform: rotate(180deg);
}
nav .navbar .nav-links .links li:hover .elements-arrow {
  transform: rotate(180deg);
}
nav .navbar .nav-links .links li a {
  height: 100%;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
}
nav .navbar .nav-links .links li a:hover {
  color: #b79d82;
}
nav .navbar .nav-links .links li .arrow {
  height: 100%;
  line-height: 70px;
  width: 22px;
  text-align: center;
  color: #000;
  transition: all 0.3s ease;
}
nav .navbar .nav-links .links li:hover .htmlCss-sub-menu {
  display: block;
}
nav .navbar .nav-links .links li:hover .js-sub-menu {
  display: block;
}
nav .navbar .nav-links .links li:hover .elements-sub-menu {
  display: block;
}
nav .navbar .nav-links .links .sub-menu {
  padding: 0;
  position: absolute;
  top: 70px;
  left: -20px;
  background: #000;
  line-height: 40px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: none;
}
nav .navbar .nav-links .links .sub-menu li {
  padding: 0 22px;
}
nav .navbar .nav-links .links .sub-menu li a {
  color: rgba(136, 119, 136, 0.4666666667);
  font-size: 15px;
  font: 500;
}
nav .navbar .nav-links .links .sub-menu li a:hover {
  color: white;
}
nav .navbar .nav-links .slidebar-logo .logo_name {
  display: none;
}
nav .navbar .nav-links .slidebar-logo .bx-x {
  display: none;
}
nav .navbar .search-box {
  display: flex;
  position: relative;
  height: 40px;
  width: 40px;
  justify-content: space-around;
}
nav .navbar .search-box .bx-search {
  cursor: pointer;
  display: flex;
}
nav .navbar .search-box i {
  color: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
nav .navbar .search-box .input-box {
  height: 60px;
  width: 300px;
  position: absolute;
  top: 80px;
  right: calc(100% - 40px);
  border-radius: 6px;
  background: #000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
nav .navbar .search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  right: 10px;
  background: #000;
  top: -6px;
  transform: rotate(45deg);
}
nav .navbar .search-box .input-box input {
  position: absolute;
  height: 35px;
  width: 280px;
  z-index: 98;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 16px;
}
nav .navbar.showInput .search-box .input-box {
  opacity: 1;
  pointer-events: auto;
  top: 65px;
}
nav .navbar .bx-menu {
  display: none;
}

@media (max-width: 954px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }
  nav .navbar .logo a {
    font-size: 26px;
  }
  nav .navbar .nav-links .links li {
    padding: 0 10px;
  }
  nav .navbar .nav-links .links li a {
    font-size: 15px;
  }
}
@media (max-width: 800px) {
  nav .navbar .nav-links {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 270px;
    width: 100%;
    background: #000;
    padding: 20px;
    line-height: 40px;
    transition: all 0.5s ease;
  }
  nav .navbar .nav-links .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .nav-links .links li {
    display: block;
  }
  nav .navbar .nav-links .links li:hover .htmlCss-sub-menu {
    display: none;
  }
  nav .navbar .nav-links .links li:hover .js-sub-menu {
    display: none;
  }
  nav .navbar .nav-links .links li:hover .elements-sub-menu {
    display: none;
  }
  nav .navbar .nav-links .links li:hover .shop-arrow {
    transform: rotate(180deg);
  }
  nav .navbar .nav-links .links li:hover .htmlcss-arrow {
    transform: rotate(180deg);
  }
  nav .navbar .nav-links .links li:hover .js-arrow {
    transform: rotate(180deg);
  }
  nav .navbar .nav-links .links li:hover .elements-arrow {
    transform: rotate(180deg);
  }
  nav .navbar .nav-links .links li a {
    color: white;
  }
  nav .navbar .nav-links .links li i {
    color: white;
  }
  nav .navbar .nav-links .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .nav-links .links .sub-menu {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
  }
  nav .navbar .nav-links .slidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav .navbar .nav-links .slidebar-logo .logo_name {
    color: white;
    font-size: 25px;
    font-weight: 500;
    display: block;
  }
  nav .navbar .nav-links .slidebar-logo .bx-x {
    color: white;
    font-size: 25px;
    font-weight: 500;
    display: block;
  }
  nav .navbar .nav-links.show1 .links .sub-menu .htmlCss-sub-menu {
    display: block;
  }
  nav .navbar .bx-menu {
    color: #000;
    display: block;
  }
  nav .navbar .search-box .bx-search {
    display: none;
  }
}
main #carouselExampleIndicators .carousel-indicators button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  opacity: 1;
}
main #carouselExampleIndicators .carousel-inner .c-item {
  height: 480px;
}
main #carouselExampleIndicators .carousel-inner .c-item .c-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.6);
}
main #carouselExampleIndicators .carousel-inner .c-item button {
  background: none;
  border: 1px solid white;
}
main #carouselExampleIndicators .carousel-inner .c-item button:hover {
  background: #333;
}
main #carouselExampleIndicators .carousel-inner .c-item .btn-color {
  background: #b79d82;
}
main .gallery {
  padding: 80px 0;
}
main .gallery .container-lg .row .col img {
  max-width: 100%;
}
main .wrapper {
  width: 100%;
  display: flex;
}
main .wrapper .text-imgs {
  text-align: center;
}
main .wrapper .text-imgs p {
  font-size: 16px;
  font-weight: 600;
  color: #7f7f7f;
}
main .wrapper .text-imgs h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
main .wrapper .images {
  position: relative;
}
main .wrapper .images img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
main .wrapper .images .contents {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
main .wrapper .images .contents:hover {
  opacity: 1;
}
main .wrapper .images .contents h1 {
  font-size: 30px;
  color: white;
}
main .wrapper .images .contents p {
  color: white;
}
main .wrapper .images .contents span {
  color: white;
}
main .wrapper .images .contents button {
  background: #b79d82;
  color: white;
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}
main .wrapper .cart {
  width: 250px;
  float: right;
  text-align: center;
  border: 1px solid black;
  overflow-y: scroll;
  height: 50%;
  margin: 104px 0px;
}
main .carusel_two {
  margin: 50px 0px;
}
main .carusel_two img {
  filter: blur(8px);
}
main .container {
  position: relative;
  max-width: 1350px;
  width: 100%;
  padding: 20px;
  margin: 50px auto;
}
main .container .filter_buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
main .container .filter_buttons button {
  padding: 10px 20px;
  font-size: 18px;
  background: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
main .container .filter_buttons button.active {
  background: #b79d82;
  color: white;
}
main .container .filterable_cards {
  display: flex;
  margin-top: 25px;
  gap: 20px;
  flex-wrap: wrap;
}
main .container .filterable_cards .card_filter {
  flex-grow: 1;
  flex-basis: 300px;
  background-color: #fff;
  padding: 3px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
main .container .filterable_cards .card_filter.hide {
  display: none;
}
main .container .filterable_cards .card_filter img {
  width: 100%;
  height: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}
main .container .filterable_cards .card_filter .card_body {
  padding: 15px 20px 20px;
}
main .container .filterable_cards .card_filter .card_body .card_title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
main .container .filterable_cards .card_filter .card_body .card_text {
  font-size: 18px;
  color: #333;
}
main .offers .container-lg .row {
  display: flex;
}
main .offers .container-lg .row .col-lg-3 h2 {
  padding: 10px 0px;
  border-bottom: 2px solid #ebebeb;
  font-weight: bold;
  font-size: 16px;
}
main .offers .container-lg .row .col-lg-3 .text_cards {
  padding: 20px 0px;
  border-bottom: 1px solid #ebebeb;
  margin: 20px 0px;
  display: flex;
  cursor: pointer;
}
main .offers .container-lg .row .col-lg-3 .text_cards img {
  margin-right: 20px;
  width: 84px;
}
main .offers .container-lg .row .col-lg-3 .text_cards h6:hover {
  color: #b79d82;
}
main .newsletter {
  padding: 53px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: #f7f8f9;
}
main .newsletter .container .row {
  margin-left: -15px;
  margin-right: -15px;
}
main .newsletter .container .row .text-center {
  width: 100%;
  float: left;
}
main .newsletter .container .row .text-center h4 {
  display: inline-block;
  margin-right: 38px;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 16px;
}
main .newsletter .container .row .text-center .relative {
  display: inline-block;
  position: relative;
}
main .newsletter .container .row .text-center .relative .newsletter-input {
  vertical-align: middle;
  background: #fff;
  margin-right: 6px;
  width: 280px;
  margin-bottom: 0 !important;
  height: 44px;
  background: #fff;
  border: 1px solid #dedede;
  padding: 0 16px;
}
main .newsletter .container .row .text-center .relative .btn-lg {
  padding: 0 34px;
  height: 44px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: none;
  color: #fff;
  backface-visibility: hidden;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.cartImg img {
  width: 200px;
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-blend-mode: darken;
}
.cartImg p {
  font-size: 22px;
}

footer .container .row .mx-auto h5 {
  color: #333;
  font-weight: bold;
}
footer .container .row .mx-auto .icons_footer i {
  color: #7f7f7f;
  cursor: pointer;
}
footer .container .row .mx-auto .icons_footer i:hover {
  color: black;
}
footer .container .row .col-md-2 h5 {
  font-size: 13px;
}
footer .container .row .col-md-2 p {
  font-size: 13px;
  cursor: pointer;
}
footer .container .row .col-md-2 p:hover {
  color: black;
}
footer .container .row i {
  background-color: #7f7f7f;
  width: 50px;
  color: white;
}

.first .bck_img {
  position: relative;
  height: 200px;
}
.first .bck_img img {
  position: relative;
  width: 100%;
  height: 170px;
}
.first .bck_img .bck_text {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
.first .bck_img .bck_text h1 {
  margin-top: 30px;
  text-align: center;
}
.first .bck_img .bck_text p {
  text-align: center;
}
.first .container {
  margin-bottom: 30px;
}
.first .container .row {
  display: flex;
  gap: 50px;
}
.first .container .row .text-col p {
  font-size: 14px;
  font-weight: normal;
}
.first .section-wrap .container .heading-row {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first .section-wrap .container .heading-row .text-center .subheading {
  font-weight: 600;
  display: inline-block;
  color: #7f7f7f;
  font-size: 16px;
  margin-bottom: 9px;
}
.first .section-wrap .container .heading-row .text-center .heading {
  position: relative;
  margin-bottom: 0;
  font-size: 24px;
  margin-top: 0;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.first .section-wrap .container .heading-row .text-center .heading::after {
  content: "";
  display: block;
  width: 46px;
  border-bottom: 2px solid #b79d82;
  margin: 17px auto 0;
  z-index: 1;
  position: relative;
}
.first .section-wrap .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first .section-wrap .container .row .mb-40 .team-wrap .team-member .team-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 35px;
}
.first .section-wrap .container .row .mb-40 .team-wrap .team-member .team-img img {
  width: 100%;
}
.first .section-wrap .container .row .mb-40 .team-wrap .team-member .text-center {
  text-align: center;
}
.first .section-wrap .container .row .mb-40 .team-wrap .team-member .text-center .team-title {
  font-size: 16px;
  margin-bottom: 3px;
}
.first .section-wrap .container .row .mb-40 .team-wrap .team-member .text-center span {
  font-size: 13px;
  margin-bottom: 20px;
  display: block;
}
.first .section-wrap .container .row .mb-40 .team-wrap .team-member .text-center .rounded {
  border-radius: 70px;
}
.first .section-wrap .container .row .mb-40 .team-wrap .team-member .text-center .rounded a {
  margin: 0 3px 6px 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  color: #7f7f7f;
  border: 1px solid #d9d9d9;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.first .section-wrap .container .row .mb-40 .team-wrap .team-member .text-center .rounded a:hover {
  background-color: #b79d82;
  border-color: transparent;
  color: #fff;
}
.first .promo-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 840px;
  padding: 80px 0;
  overflow: hidden;
}
.first .promo-bg .container {
  display: table;
  height: 100%;
  text-align: center;
}
.first .promo-bg .container .table-box {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.first .promo-bg .container .table-box h2 {
  font-size: 72px;
  border: 10px solid #fff;
  line-height: 1;
  padding: 30px 63px;
  display: inline-block;
  color: white;
}
@media (max-width: 994px) {
  .first .containerr {
    display: none;
  }
}
.first .containerr p {
  margin-top: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #7f7f7f;
}
.first .containerr h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  line-height: 1.2;
}
.first .containerr .swiper {
  width: 600px;
  height: 300px;
}
.first .containerr .swiper .swiper-wrapper .swiper-slide {
  cursor: pointer;
  text-align: center;
}
.first .containerr .swiper .swiper-wrapper .swiper-slide p {
  color: #000;
  margin-bottom: 15px;
}
.first .containerr .swiper .swiper-wrapper .swiper-slide span {
  text-align: center;
}
.first .containerr .swiper-button-prev {
  display: none;
}
.first .containerr .swiper-button-next {
  display: none;
}
.first .containerr .swiper-scrollbar {
  display: none;
}
.first .newsletter {
  padding: 53px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: #f7f8f9;
}
.first .newsletter .container .row {
  margin-left: -15px;
  margin-right: -15px;
}
.first .newsletter .container .row .text-center {
  width: 100%;
  float: left;
}
.first .newsletter .container .row .text-center h4 {
  display: inline-block;
  margin-right: 38px;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 16px;
}
.first .newsletter .container .row .text-center .relative {
  display: inline-block;
  position: relative;
}
.first .newsletter .container .row .text-center .relative .newsletter-input {
  vertical-align: middle;
  background: #fff;
  margin-right: 6px;
  width: 280px;
  margin-bottom: 0 !important;
  height: 44px;
  background: #fff;
  border: 1px solid #dedede;
  padding: 0 16px;
}
.first .newsletter .container .row .text-center .relative .btn-lg {
  padding: 0 34px;
  height: 44px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: none;
  color: #fff;
  backface-visibility: hidden;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

@media (max-width: 994px) {
  .section-wrap {
    overflow-x: hidden;
  }
}
.section-wrap .bck_img {
  position: relative;
  height: 200px;
}
.section-wrap .bck_img img {
  position: relative;
  width: 100%;
  height: 170px;
}
.section-wrap .bck_img .bck_text {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
.section-wrap .bck_img .bck_text h1 {
  margin-top: 30px;
  text-align: center;
}
.section-wrap .bck_img .bck_text p {
  text-align: center;
}
.section-wrap .section-wrap {
  padding-bottom: 40px;
  padding: 80px 0;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
}
.section-wrap .section-wrap .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-wrap .section-wrap .container .row {
  margin-left: -15px;
  margin-right: -15px;
}
.section-wrap .section-wrap .container .row .col-md-8 {
  margin-bottom: 40px;
}
.section-wrap .section-wrap .container .row .col-md-8 #contact-form .contact-name input {
  height: 44px;
  border: 1px solid #dedede;
  background-color: transparent;
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 0 16px;
  border-radius: 0;
  -ms-box-shadow: none;
  box-shadow: none;
}
.section-wrap .section-wrap .container .row .col-md-8 #contact-form .contact-email input {
  height: 44px;
  border: 1px solid #dedede;
  background-color: transparent;
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 0 16px;
  border-radius: 0;
  -ms-box-shadow: none;
  box-shadow: none;
}
.section-wrap .section-wrap .container .row .col-md-8 #contact-form .contact-subject input {
  height: 44px;
  border: 1px solid #dedede;
  background-color: transparent;
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 0 16px;
  border-radius: 0;
  -ms-box-shadow: none;
  box-shadow: none;
}
.section-wrap .section-wrap .container .row .col-md-8 #contact-form #comment {
  border: 1px solid #dedede;
  background-color: transparent;
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 0 16px;
  border-radius: 0;
  -ms-box-shadow: none;
  box-shadow: none;
}
.section-wrap .section-wrap .container .row .col-md-8 #contact-form .btn {
  padding: 0 34px;
  height: 44px;
  font-size: 12px;
  background: #000;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: none;
}
.section-wrap .section-wrap .container .row .col-md-3 {
  margin-bottom: 40px;
}
.section-wrap .section-wrap .container .row .col-md-3 .contact-item {
  margin-bottom: 35px;
  margin-left: 20%;
}
.section-wrap .section-wrap .container .row .col-md-3 .contact-item h6 {
  margin-top: 0;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.section-wrap .section-wrap .container .row .col-md-3 .contact-item address {
  line-height: 28px;
  margin-bottom: 0;
  color: #7f7f7f;
  font-size: 14px;
}
.section-wrap .section-wrap .container .row .col-md-3 .contact-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section-wrap .section-wrap .container .row .col-md-3 .contact-item ul li {
  padding: 5px 0;
  color: #7f7f7f;
}
.section-wrap .section-wrap .container .row .col-md-3 .contact-item ul li i {
  margin-right: 14px;
}
.section-wrap .section-wrap .container .row .col-md-3 .contact-item ul li a {
  text-decoration: none;
  color: #7f7f7f;
}
.section-wrap .newsletter {
  padding: 53px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: #f7f8f9;
}
.section-wrap .newsletter .container .row {
  margin-left: -15px;
  margin-right: -15px;
}
.section-wrap .newsletter .container .row .text-center {
  width: 100%;
  float: left;
}
.section-wrap .newsletter .container .row .text-center h4 {
  display: inline-block;
  margin-right: 38px;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 16px;
}
.section-wrap .newsletter .container .row .text-center .relative {
  display: inline-block;
  position: relative;
}
.section-wrap .newsletter .container .row .text-center .relative .newsletter-input {
  vertical-align: middle;
  background: #fff;
  margin-right: 6px;
  width: 280px;
  margin-bottom: 0 !important;
  height: 44px;
  background: #fff;
  border: 1px solid #dedede;
  padding: 0 16px;
}
.section-wrap .newsletter .container .row .text-center .relative .btn-lg {
  padding: 0 34px;
  height: 44px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: none;
  color: #fff;
  backface-visibility: hidden;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.last .bck_img {
  position: relative;
  height: 200px;
  background: #f7f8f9;
}
.last .bck_img img {
  position: relative;
  width: 100%;
  height: 170px;
}
.last .bck_img .bck_text {
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
}
.last .bck_img .bck_text h1 {
  margin-top: 30px;
  text-align: center;
}
.last .bck_img .bck_text p {
  text-align: center;
}
.last .container {
  background-color: #E9E0F7;
  width: 1000px;
  max-width: 100%;
  margin: 50px auto 0;
  border-radius: 10px;
}
.last .container .filter {
  padding: 20px;
  display: grid;
  grid-template-columns: 32.666% 32.666% 32.666%;
  -moz-column-gap: 1%;
       column-gap: 1%;
  row-gap: 10px;
}
.last .container .filter .item {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last .container .filter .item select {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-left: 1px solid #ddd;
  outline: none;
}
.last .container .filter .item input {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-left: 1px solid #ddd;
  outline: none;
}
.last .container .filter .item button {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  border-left: 1px solid #ddd;
  outline: none;
}
.last .container .filter .item label {
  display: block;
  width: 40%;
  padding: 0 10px;
}
.last .container .countResults {
  font-size: xx-large;
  text-align: center;
  padding: 20px;
}
.last .container #list {
  padding: 20px;
  display: grid;
  -moz-column-gap: 1%;
       column-gap: 1%;
  grid-template-columns: 32.66% 32.66% 32.66%;
  row-gap: 10px;
}
.last .container #list .item {
  background-color: rgba(255, 255, 255, 0.3333333333);
  text-align: center;
  border-radius: 10px;
}
.last .container #list .item img {
  width: 90%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px 0;
  border-radius: 10px;
}
.last .container #list .item .title {
  font-weight: bold;
}
.last .container #list .item .price {
  letter-spacing: 1px;
  padding: 20px;
}