.last{
    .bck_img{
        position: relative;
        height: 200px;
        background: #f7f8f9;
        img{
            position: relative;
            width: 100%;
            height: 170px;
        }
        .bck_text{
            width: 100%;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            color: #000;
            h1{
                margin-top: 30px;
                text-align: center;
            }
            p{
                text-align: center;
            }
        }

    }
    .container{
        background-color: #E9E0F7;
        width: 1000px;
        max-width: 100%;
        margin: 50px auto 0;
        border-radius: 10px;
        .filter{
            padding: 20px;
            display: grid;
            grid-template-columns: 32.666% 32.666% 32.666%;
            column-gap: 1%;
            row-gap: 10px;
            .item{
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                select{
                    width: 100%;
                    padding: 5px;
                    border: none;
                    background-color: transparent;
                    border-left: 1px solid #ddd;
                    outline: none;
                }
                input{
                    width: 100%;
                    padding: 5px;
                    border: none;
                    background-color: transparent;
                    border-left: 1px solid #ddd;
                    outline: none;
                }
                button{
                    width: 100%;
                    padding: 5px;
                    border: none;
                    background-color: transparent;
                    border-left: 1px solid #ddd;
                    outline: none;
                    
                }
                label{
                    display: block;
                    width: 40%;
                    padding: 0 10px;
                }
            }
        }
        .countResults{
            font-size: xx-large;
            text-align: center;
            padding: 20px;
        }
        #list{
            padding: 20px;
            display: grid;
            column-gap: 1%;
            grid-template-columns: 32.66% 32.66% 32.66%;
            row-gap: 10px;
            .item{
                background-color: #fff5;
                text-align: center;
                border-radius: 10px;
                img{
                    width: 90%;
                    height: 300px;
                    object-fit: cover;
                    margin: 20px 0;
                    border-radius: 10px;
                }
                .title{
                    font-weight: bold;
                }
                .price{
                    letter-spacing: 1px;
                    padding: 20px;
                }
            }
        }
    }
    
}